# Elixir defaults
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
bounds-*.tar

# local environment
/.envrc

# application state
/var

# editor state
*.swp
/*.code-workspace
/*.sublime-workspace
/.elixir_ls/
